[Unit]
Description=VBO Logger
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/VBO_Logger/main.py

[Install]
WantedBy=multi-user.target


